@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root {
    --primary: #0099ff;
    --secondary: #3c3fbb;
    --grey0: #000016;
    --grey1: #282828;
    --grey2: #464646;
    --grey3: #4b4b4b;
    --grey4: #6e6e6e;
    --grey5: #7b7b7b;
    --grey6: #979797;
    --grey7: #d7d7d7;
    --grey8: #e5e5ff;
    --grey9: #fafafa;
    --font: 'Lato', sans-serif;
    --box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.25);
    --grey0: #fafafa;
    --grey9: #000016;
    --transparent: rgb(104 159 239 / 17%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--grey0);
    font-family: var(--font);
    color: var(--grey9);
}

header {
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    align-items: center;
}

header img {
    max-width: 8rem;
    width: 8rem;
}

header .hamburger {
    display: none;
}

header .nav {
    display: block;
}

header .nav {
    display: none;
}

header .nav ul {
    display: flex;
    list-style: none;
}

header .nav ul li a {
    display: block;
    padding: .7rem 3rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary);
}

header .nav ul li a.destacado {
    color: var(--primary)
}

header .hamburger {
    display: block;
}

header .bar {
    width: 1.5rem;
    height: 3px;
    display: block;
    color: #fff;
    padding: 0;
    margin: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
}

header .hamburger.active {
    z-index: 2;
}

header .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

header .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
}

header .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

header .nav.active {
    display: block;
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 2;
    transition: 0.2s ease;
    background: var(--grey8);
    border-radius: .6rem;
    padding: 1rem;
    padding-right: 3rem;
    box-shadow: var(--box-shadow);
}

header .nav.active ul {
    flex-direction: column;
    align-items: flex-start
}

header .nav.active ul li a {
    padding: .5rem;
}

header .nav.active ul li a.destacado {
    color: var(--secondary);
}

header .nav ul li a:hover {
    color: var(--grey9)!important;
}

@media(min-width:70rem) {
    header .nav {
        display: block;
    }
    header .hamburger {
        display: none;
    }
    header .nav ul {
        display: flex;
    }
    header .nav ul li a {
        color: white;
    }
    header .nav ul li a.destacado {
        color: var(--secondary)
    }
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0px 0px 70px black;
    text-align: center;
}

.hero p {
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 0px 0px 5px black;
}

@media(min-width:40rem) {
    .hero h1 {
        font-size: 5rem;
    }
    .hero p {
        font-size: 1.4rem;
    }
}

.servicios {
    padding: 2rem 1rem;
    max-width: 80rem;
    margin: auto;
    margin-top: 7rem;
}

.servicios>h2 {
    font-size: 4rem;
    font-weight: 900;
}

.servicios>p {
    max-width: 50rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.servicios>div {
    display: flex;
    margin-top: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.servicios>div article {
    background: var(--transparent);
    padding: 1rem;
    border-radius: .5rem;
    min-width: 24rem;
    scroll-snap-align: center;
}

.servicios>div article + article {
    margin-left: 1rem
}

.servicios>div article h3 {
    font-size: 1.7rem;
    font-weight: 900;
    margin: .5rem 0 1rem;
}

.servicios>div article p {
    color: var(--grey6);
}

.servicios>div article img {
    filter: invert(49%) sepia(42%) saturate(6544%) hue-rotate(183deg) brightness(104%) contrast(103%);
    width: 3rem;
}

@media(min-width:40rem) {
    .servicios>div {
        overflow-x: unset;
        scroll-snap-type: unset;
    }
    .servicios>div article {
        min-width: unset;
        scroll-snap-align: unset;
    }
}

.tecnologia {
    padding: 2rem 1rem;
    max-width: 80rem;
    margin: auto;
    margin-top: 7rem;
}

.tecnologia .tech {
    display: flex;
    flex-direction: column;
}

.tecnologia .tech div>h2 {
    font-size: 4rem;
    font-weight: 900;
}

.tecnologia .tech div>p {
    max-width: 50rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.tecnologia .tech ul {
    padding: 2rem 1rem;
    max-width: 80rem;
    list-style: none;
}

.tecnologia .tech ul li {
    width: 10rem;
    height: 10rem;
    background: var(--transparent);
    border-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecnologia .tech ul li:nth-last-of-type(even) {
    margin: -4rem 0 -5rem 10rem;
}

.tecnologia .tech ul li img {
    max-width: 100%;
}

.tecnologia .tech ul li:nth-of-type(2) img,
.tecnologia .tech ul li:nth-of-type(3) img {
    filter: invert(1)
}

.tecnologia .platforms {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tecnologia .platforms h3 {
    font-size: 3rem;
    font-weight: 900;
}

.tecnologia .platforms ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.tecnologia .platforms ul li {
    background: var(--transparent);
    padding: 1rem 2rem;
    font-size: 2rem;
    margin: .5rem 1rem;
    border-radius: 5rem;
}

@media(min-width:40rem) {
    .tecnologia .tech ul li {
        width: 15rem;
        height: 15rem;
    }
    .tecnologia .tech ul li:nth-last-of-type(even) {
        margin: -6rem 0 -6rem 16rem;
    }
}

@media(min-width:60rem) {
    .tecnologia .tech {
        flex-direction: row;
    }
    .tecnologia .tech div {
        max-width: 30rem;
    }
    .tecnologia .tech ul {
        margin: auto;
    }
}

.equipo {
    padding: 2rem 1rem;
    max-width: 80rem;
    margin: auto;
    margin-top: 7rem;
}

.equipo h2 {
    font-size: 2.7rem;
    font-weight: 900;
}

.equipo ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.equipo ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem
}

.equipo ul li img {
    display: block;
    width: 10rem;
    border-radius: 15rem;
}

.equipo ul li p {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary);
}

.equipo ul li small {
    font-style: italic;
    font-size: 1rem;
    color: var(--grey6);
}

@media(min-width:60rem) {
    .equipo ul li img {
        display: block;
        width: 15rem;
        border-radius: 15rem;
    }
}

.apps {
    padding: 2rem 1rem;
    max-width: 80rem;
    margin: auto;
    margin-top: 7rem;
}

.apps h2 {
    font-size: 2.7rem;
    font-weight: 900;
}

.apps>div {
    flex-wrap: wrap;
}

.apps>div {
    display: flex;
    justify-content: space-between;
    align-content: flex-start
}

.apps>div article {
    width: 100%;
}

.apps>div article h3 {
    margin: 2rem 0 1rem;
    font-size: 1.4rem;
    color: var(--primary);
}

.apps>div article figure {
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.apps>div article figure img {
    max-width: 100%;
    height: 15rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.apps>div article figure div {
    top: 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    height: 15rem;
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: brightness(0.8) blur(3px);
}

@media(min-width:50rem) {
    .apps>div article {
        width: 32%;
    }
    .apps>div article figure div {
        top: 15rem;
        transition: all ease .5s;
    }
    .apps>div article figure:hover div {
        top: 0;
    }
}

.btn {
    background: none;
    border: solid 2px var(--primary);
    border-radius: 5rem;
    height: 3rem;
    padding: 1rem 2rem;
    color: var(--primary);
    font-family: var(--fontStyle);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all ease .25s;
    margin: auto;
}

.btn:hover {
    background: var(--primary);
    color: white;
}

.btn:active {
    opacity: .5;
}

.contact {
    padding: 2rem 1rem;
    max-width: 80rem;
    margin: auto;
    margin-top: 5rem;
}

.contact h3 {
    font-size: 2.7rem;
    font-weight: 900;
}

.contact > p {
    font-size: 1rem;
    max-width: 50rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.contact > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 2rem auto;
}

.contact > form .form-input {
    position: relative;
}

.contact > form .form-input label {
    position: absolute;
    background: var(--grey0);
    font-size: .8rem;
    color: var(--primary);
    top: -.5rem;
    left: .3rem;
    padding: 0 .2rem;
    z-index: 2;
}

.contact > form .form-input {
    grid-column: span 1;
}

.contact > form .form-input input {
    height: 3.5rem;
    width: 100%;
    border: solid 1px var(--primary);
    border-radius: .3rem;
    padding: .5rem;
    background: none;
    color: var(--grey9);
    font-size: 1rem;
}

.contact > form .form-input.m-textarea {
    grid-column: 1/-1;
}

.contact > form .form-input textarea {
    width: 100%;
    height: 8rem;
    resize: vertical;
    border: solid 1px var(--primary);
    border-radius: .3rem;
    padding: .5rem;
    font-family: var(--fontStyle);
    background: none;
    color: var(--grey9);
    font-size: 1rem;
}

footer {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer img {
    width: 9rem;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul li a {
    color: var(--grey0);
    display: block;
    padding: 1rem;
    text-decoration: none;
}

footer nav ul li a:hover {
    color: var(--grey2);
}

.firuletes {
    position: fixed;
    max-width: 32rem;
    width: 33.333333%;
    z-index: -1;
    left: 0;
    top: 0;
    cursor: none;
}

.firuletes:nth-of-type(2) {
    max-width: 80rem;
    width: 70%;
}

.firuletes:nth-of-type(3) {
    right: 0;
    bottom: 0;
    left: unset;
    top: unset;
}

.firuletes svg {
    fill: var(--grey9);
    z-index: 0;
    opacity: .1;
    stroke: var(--grey9);
    display: block;
    vertical-align: middle;
}